@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force GPU compositing for z-[150] elements */
.z-\[150\] {
  transform: translateZ(0);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
