@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: earthOrbiter;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/earthorbiter.ttf") format("truetype");
}

/* Force GPU compositing for z-[150] elements */
.z-\[150\] {
  transform: translateZ(0);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@keyframes star-wiggle {
  0%,
  100% {
    transform: rotate(-10deg) scale(1);
  }
  20% {
    transform: rotate(8deg) scale(1.1);
  }
  40% {
    transform: rotate(-6deg) scale(0.95);
  }
  60% {
    transform: rotate(6deg) scale(1.05);
  }
  80% {
    transform: rotate(-4deg) scale(1);
  }
}
.star-wiggle {
  animation: star-wiggle 1.8s infinite ease-in-out;
}
